doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Tutor Finder
    link(rel="stylesheet" href="/asserts/css/main.css")
  body
    .header
      img(src="./asserts/img/4.jpeg" alt="Logo")
      h1 Tutor Finder
    .container
      .menu
        img(src="./asserts/img/5.jpeg" alt="Menu Image")
      .buttons
        a(href="/login")
          button User
        a(href="/admin-login")
          button Admin
        a(href="/tutor")
          button Tutor
    footer
      a(href="#") Privacy Policy
      |  | 
      a(href="#") Terms of Service
      |  | 
      a(href="/aboutus") About Us
    
script(src='/asserts/js/main.js')
